[Unit]
Description=Authentik service %i
Requires=docker.service
After=docker.service
After=postgresql.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ authentik_root_path }}/%i
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
