AUTHENTIK_REDIS__HOST=172.17.0.1
AUTHENTIK_POSTGRESQL__HOST={{ authentik_database.host }}
AUTHENTIK_POSTGRESQL__USER={{ authentik_database.user }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_database.password }}
AUTHENTIK_POSTGRESQL__NAME={{ authentik_database.name }}

AUTHENTIK_SECRET_KEY={{ authentik_salt }}

AUTHENTIK_DISABLE_UPDATE_CHECK=true
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true
AUTHENTIK_AVATARS=initials

AUTHENTIK_EMAIL__HOST={{ authentik_smtp.host | split(':') | first }}
AUTHENTIK_EMAIL__PORT={{ authentik_smtp.host | split(':') | last }}
{% if authentik_smtp.username is defined %}
AUTHENTIK_EMAIL__USERNAME={{ authentik_smtp.username }}
AUTHENTIK_EMAIL__PASSWORD={{ authentik_smtp.password }}
{% endif %}
AUTHENTIK_EMAIL__USE_TLS={{ "true" if authentik_smtp.mode == "starttls" else "false" }}
AUTHENTIK_EMAIL__USE_SSL={{ "true" if authentik_smtp.mode == "smtps" else "false" }}
AUTHENTIK_EMAIL__FROM={{ authentik_smtp.from }}
