[Unit]
Description=socat relay
Requires=network.target
After=network.target

[Service]
Type=simple
User=socat
Group=socat
ExecStart={{ socat_root_path }}/%i.sh

AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
