[nextcloud]
user = www-data
group = www-data

listen = /run/php/nextcloud-fpm.sock

listen.owner = www-data
listen.group = www-data

pm = {{ nextcloud_fpm_pm }}
{% for key, value in nextcloud_fpm_config.items() %}
pm.{{ key }} = {{ value }}
{% endfor %}

php_value[upload_max_filesize] = 64M
php_value[post_max_size] = 128M
php_admin_value[memory_limit] = {{ nextcloud_memory_limit }}
php_value[opcache.memory_consumption] = 128
php_value[opcache.interned_strings_buffer] = 32
php_value[opcache.revalidate_freq] = 60

env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
