PASSWORD_HASH={{ wg_password | string | password_hash('bcrypt') }}

WG_DEVICE={{ wg_device }}
WG_HOST={{ wg_address }}
WG_DEFAULT_ADDRESS=10.8.0.x
WG_ALLOWED_IPS=10.8.0.0/24
WG_DEFAULT_DNS=
WG_PERSISTENT_KEEPALIVE=0

UI_ENABLE_SORT_CLIENTS=true
