#!/bin/sh -e

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.

cd "{{ globaleaks_backup_path }}"

rsync -a --delete /var/globaleaks/ globaleaks/
rm -f globaleaks/globaleaks.db
sudo -u globaleaks sqlite3 /var/globaleaks/globaleaks.db ".backup 'globaleaks/globaleaks.db'"

tar cf "backups/$(date +%Y%m%d_%H%M%S).tar" globaleaks
ls -1 backups/* | sort -r | tail -n +2 | xargs rm -f
